@{
    ViewData["Title"] = "Home Page";
}

<header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1><a href="#"><img src="~/img/logo.png" alt="" class="img-fluid"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block ">
            <ul>
                <li class="active"><a href="index.html">Начало</a></li>
                <li class="drop-down">
                    <a class="nav-link scrollto" href="#karta">Почивни карти</a>
                    <ul>
                        <li><a href="galeriq">Галерия</a></li>
                    </ul>
                <li class="drop-down">
                    <a href="">Регистър</a>
                    <ul>
                        <li><a href="#">Справка</a></li>
                        <li><a href="#">Архив</a></li>
                    </ul>
                <li><a href="#opis">Опис бунгала</a></li>
                <li><a href="#cenorazpis">Ценоразпис</a></li>
                <li><a href="#smeni">Смени</a></li>
                <li class="drop-down">
                    <a href="">Aкаунти</a>
                    <ul>
                        <li><a href="#">Настройки акаунт</a></li>
                    </ul>
                </li>
               

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1> Почивна база "Шкорпиловци"</h1>
        <h2>Природата винаги носи цветовете на духа. (Ралф Уолдо Емерсън)</h2>
        <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section><!-- End Hero -->
<main id="main">

    <!-- ======= Karta Section ======= -->
    <section id="karta" class="karta">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div id="success"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <center> <img class="img-fluid img-thumbnail" src="../img/Karta.png" alt="Chania" width="900" height="550"></center>
                        <div class="panel-heading">

                        </div>
                        <div class="container">

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End .content-->

    </section><!-- End Karta Section -->
    <!-- ======= Galeriq Section ======= -->
    <section id="galeriq" class="galeriq">
        <center><p class="font-weight-bold">Галерия</p></center>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <center><img class="" src="/img/1.jfif" width="900" height="550" alt="First slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/4.jpg" width="900" height="550" alt="Second slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/6.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/9.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/7.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/26.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/25.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/22.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/16.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/11.jpg" width="900" height="550" alt="Third slide"></center>
                </div>
                <div class="carousel-item">
                    <center><img class="" src="/img/23.jpg" width="900" height="550" alt="Third slide"></center>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" button="dark"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- End Galeriq Section -->
    <!-- ======= Informaciq Section ======= -->
    <section id="informaciq" class="informaciq">
        <center><p class="font-weight-bold">Информация</p></center>
    </section><!-- ======= End Informaciq Section ======= -->


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>"Шкорпиловци"</h3>
                            <p class="pb-3"><em>Здравейте, винаги сме отворени за сътрудничество и предложения,свържете се с нас по един от начините по-долу.</em></p>
                            <p>
                                СБХА Шкорпиловци
                                9112 България<br><br>
                                <strong>Телефон:</strong> 088 242 3061<br>
                                <strong>Емайл:</strong> Sbhshkorpilovtsi@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/SBH.Shkorpilovtsi/?ref=page_internal" class="facebook"><i class="bx bxl-facebook"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Полезно връзки</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Начало</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Карта</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Относно нас</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Декларация за сигурност</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Бюлетин</h4>
                        <p>
                            Въведете вашия емайл адрес по-долу,за да се абонирате за нашия бюлетин и бъдете в крак с офертите и специалните отстъпки
                        </p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Абонирай се">
                        </form>

                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2920.1957991729987!2d27.889524415774726!3d42.95307810543626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a438e81e9f93c9%3A0x551a881aca3b89ab!2z0J_QvtGH0LjQstC90LAg0YHRgtCw0L3RhtC40Y8g0KjQutC-0YDQv9C40LvQvtCy0YbQuCAtINCg0YPRgdC10L3RgdC60Lgg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JDQvdCz0LXQuyDQmtGK0L3Rh9C10LIiLyBIb2xpZGF5IEhvdXNlIG9mIFJ1c2UgVW5pdmVyc2l0eSAiQW5nZWwgS2FuY2hldiI!5e0!3m2!1sen!2sbg!4v1628515413230!5m2!1sen!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Русенски Университет <strong><span>"Ангел Кънчев"</span></strong>.
            </div>
            <div class="credits">

            </div>
        </div>
    </footer><!-- End Footer -->
